
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	height: 100vh;
	width: 100vw;
	background-image: url(../resources/it.jpg);
}

.parent {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
	position: relative;
    /*border: 1px dotted #333;*/
}
  

input {
	display:block;
	overflow: hidden;
	padding:0 25px;
	height:60px;
	color:rgb(0, 0, 0);
	text-decoration:none;
	font-family:Arial, sans-serif;
	font-size:14px;
	line-height:60px;
	font-weight:bold;
	letter-spacing:0.05em;
	text-transform: none;
	background:#dddbdb;
	text-align: left;
	position:relative;
	border: #ffffff;
	border-width: 5px;
    width: 500px;
}

.left, .right {
	display:block;
	position: relative;
	z-index: 10;
	clear:both;
	width:0;
	height:0;
	border: #ffffff;
	border-width: 5px;
}

.left {
	border-left:30px solid transparent;
	border-bottom:60px solid #dddbdb;
}

.right {
	border-right:30px solid transparent;
	border-top:60px solid #dddbdb;
}



input:hover {
	opacity:0.8;
}

.button {
	display:inline-block;
	vertical-align:top;
	padding:0 25px;
	height:60px;
	color:#fff;
	text-decoration:none;
	font-family:Arial, sans-serif;
	font-size:14px;
	line-height:60px;
	font-weight:bold;
	letter-spacing:0.05em;
	text-transform:uppercase;
	background:#ff0000;
	text-align:center;
	position:relative;
	border: #ffffff;
	border-width: 5px;
}

.button:hover {
	opacity:0.8;
}

.button:before {
	content:'';
	display:block;
	clear:both;
	width:0;
	height:0;
	border-left:30px solid transparent;
	border-bottom:60px solid #ff0000;
	position:absolute;
	top:0;
	left:-30px;
}

.button:after {
	content:'';
	display:block;
	clear:both;
	width:0;
	height:0;
	border-right:30px solid transparent;
	border-top:60px solid #ff0000;
	position:absolute;
	top:0;
	right:-30px;
}
      
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    input {
		display:block;
		overflow: hidden;
		padding:0 25px;
		height:60px;
		color:rgb(0, 0, 0);
		text-decoration:none;
		font-family:Arial, sans-serif;
		font-size:14px;
		line-height:60px;
		font-weight:bold;
		letter-spacing:0.05em;
		text-transform: none;
		background:#dddbdb;
		text-align: left;
		position:relative;
		border: #ffffff;
		border-width: 5px;
		width: 500px;
	}
	
	.left, .right {
		display:block;
		position: relative;
		z-index: 0;
		clear:both;
		width:0;
		height:0;
		border: #ffffff;
		border-width: 5px;
	}
	
	.left {
		border-left:0px solid transparent;
		border-bottom:0px solid #dddbdb;
	}
	
	.right {
		border-right:0px solid transparent;
		border-top:0px solid #dddbdb;
	}
	
	
	
	input:hover {
		opacity:0.8;
	}
	
	.button {
		display:inline-block;
		vertical-align:top;
		padding:0 25px;
		height:60px;
		color:#fff;
		text-decoration:none;
		font-family:Arial, sans-serif;
		font-size:14px;
		line-height:60px;
		font-weight:bold;
		letter-spacing:0.05em;
		text-transform:uppercase;
		background:#ff0000;
		text-align:center;
		position:relative;
		border: #ffffff;
		border-width: 5px;
	}
	
	.button:hover {
		opacity:0.8;
	}
	
	.button:before {
		content:'';
		display:block;
		clear:both;
		width:0;
		height:0;
		border-left:30px solid transparent;
		border-bottom:60px solid #ff0000;
		position:absolute;
		top:0;
		left:0px;
	}
	
	.button:after {
		content:'';
		display:block;
		clear:both;
		width:0;
		height:0;
		border-right:30px solid transparent;
		border-top:60px solid #ff0000;
		position:absolute;
		top:0;
		right: 0px;
	}
}